<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreras</title>
    <link rel="stylesheet" href="../Styles/styles.css">
    <script src="View.js" type="module"></script>
</head>
<body>
    <h1>CARRERAS</h1>

    <div class="contenedor">
        <div class="bloque">
            <div class="bloque">
                <h2>New Participante</h2>
            </div>
                <input type="text" name="" id="" placeholder="escribe el nombre...">
                <select name="" id="">
                    <option value="" disabled selected hidden>Vehículo</option>
                </select>
                <button>Guardar participante</button>
                <button>Cargar estadísticas</button>
        </div>

        <div class="bloque">
            <div class="bloque">
                <h2>New vehiculo</h2>
            </div>
            <input type="text" name="" placeholder="escribe el modelo..." id="">
            <input type="number" name="" value="" placeholder="Min vel" id="">
            <input type="number" name="" value="" placeholder="Max vel" id="">
            <select name="" id="">
                <option value="" disabled selected hidden>Tipo tracción</option>
                <option value="Blanda">Blanda</option>
                <option value="Mediana">Mediana</option>
                <option value="Dura">Dura</option>
            </select>
            <button>Nuevo vehículo</button>
            <button>Cargar estadísticas</button>

        </div>
        <div class="bloque">
            <div class="bloque">
                <h2>New Circuito</h2>
            </div>
            <input type="text" name="" id="" placeholder="nombre">
            <input type="text" name="" id="" placeholder="longitud">
            <select name="" id="">
                <option value="" disabled selected hidden>Tiempo</option>
                <option value="lluvioso">Lluvioso</option>
                <option value="humedo">Húmedo</option>
                <option value="seco">Seco</option>
            </select>
            <button>Nueva carrera</button>
        </div>
        <div class="bloque">
            <div class="bloque">
                <h2>Asigna un participante al circuito</h2>
            </div>
            <select name="" id="">
                <option value="" disabled selected hidden>Circuitos</option>
            </select>

            <select name="" id="">
                <option value="" disabled selected hidden>Participantes</option>
            </select>

            <button>Asignar</button>
        </div>
        <div class="bloque">
            <div class="bloque">
                <h2>Quita un participante al circuito</h2>
            </div>
            <select name="" id="">
                <option value="" disabled selected hidden>Circuitos</option>
            </select>

            <select name="" id="">
                <option value="" disabled selected hidden>Participantes</option>
            </select>

            <button>Quita</button>
        </div>

        
        <div class="bloque">
            <h2>CARGA CIRCUITO</h2>
            <select name="" id="">
                <option value="" disabled selected hidden>Selecciona el circuito</option>
            </select>
            <button>Cargar</button>
        </div>
    </div>
</body>
</html>