#div{
    border: 1px solid black;
}

#tabla{
    display: inline-grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-gap:1rem;   
}

.block{
    
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    background-color: red;

   
}