
h1 {
    
    color: red;
}
div{
    text-align: center;
}

#padre{
    display: inline-flex;
    background-color: white; 
}



#piramide-1,#piramide-2,#piramide-3{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    text-align:center;
    
}

#disco0,#disco1,#disco2,#disco3,#disco4{
    height:30px;
    width:50px;
    margin:0px auto;
}

#disco0{
    width:60px;
}
#disco1{
    width:80px;
}
#disco2{
    width:100px;
}
#disco3{
    width:120px;
}
#disco4{
    width:140px;
}
